<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5">

<title>Dealertrack Technologies - Office Weather Report</title>

<!-- Bootstrap core CSS -->
<link href="https://cc1.dealer.com/tracksuit/0.6.10/css/tracksuit.min.css" rel="stylesheet">

<link href="/static/css/main2.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

 </head>
 <body class="{{ room_condition }}">
    <header>
        <div class="container"></div>
        <h1>Dealertrack Lake Success Office</h1>
    </header>


    <!-- Page content of course! -->
    <main>
        <div class="container">
            <div class="temp-circle">
                <div class="temperature">{{ temp_f|floatformat:"0" }}&deg;</div>
            </div>
            <div class="outfit {{ room_condition }}"></div>
            <div class="person {{ room_condition }}"></div>
        </div>
    </main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cc1.dealer.com/tracksuit/0.6.10/js/tracksuit.min.js"></script>

</body>
</html>
